@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";



@custom-variant dark (&:is(.dark *));

:root {
  /* CUSTOM VARIABLES */

  /* Text */
  --ff: "Poppins", sans-serif;

  --text-primary: var(--color-neutral-900);
  --text-secondary: var(--color-neutral-200);
  --text-accent: var(--color-neutral-300);
  --text-muted: var(--color-neutral-400);
  --text-success: var(--color-green-500);
  --text-danger: var(--color-red-500);
  --text-muted: var(--color-blue-500);

  /* Surface */
  --surface-primary: var(--color-neutral-200);
  --surface-outline: color-mix(in oklab, var(--color-white) 10%, transparent);
  --surface-secondary: var(--color-neutral-900);
  --surface-accent: var(--color-neutral-900);
  --surface-background: var(--color-neutral-950);
  --surface-muted: var(--color-neutral-600);
  --surface-l: var(--color-neutral-900);
  --surface-h: var(--color-neutral-800);

  --surface-success: var(--color-green-400);
  --surface-danger: var(--color-red-400);
  --surface-warning: var(--color-yellow-300);
  --surface-info: var(--color-blue-400);

  --surface-success-outline: color-mix(in oklab, #166534 10%, transparent);
  --surface-danger-outline: color-mix(in oklab, #991b1b 10%, transparent);
  --surface-warning-outline: color-mix(in oklab, #854d0e 10%, transparent);
  --surface-info-outline: color-mix(in oklab, #1e40af 10%, transparent);

  /* Border */

  --border-h: var(--color-neutral-300);
  --border-m: var(--color-neutral-400);
  --border-l: var(--color-neutral-500);
  --border-muted: var(--color-neutral-700);

  --border-success: var(--color-green-900);
  --border-warning: var(--color-yellow-600);
  --border-danger: var(--color-red-900);
  --border-info: var(--color-blue-600);

  /* Icon */
  --icon-primary: var(--color-neutral-300);
  --icon-muted: var(--color-neutral-500);

  --icon-green: var(--color-green-600);
  --icon-danger: var(--color-red-600);
  --icon-warning: var(--color-yellow-600);
  --icon-info: var(--color-blue-600);

  /* shadcn */

  --radius: 0.625rem;
  /* Shadow */
  --shadow-d-sm: inset 0 4px 4px oklch(100% 0 0 / 0.1),
    0 2px 1px oklch(0% 0 0 / 0.25), 0 7px 10px oklch(0% 0 0 / 0.25);

  --shadow-d-md: inset 0 7px 4px oklch(100% 0 0 / 0.1),
    0 4px 2px oklch(0% 0 0 / 0.25), 0 7px 14px oklch(0% 0 0 / 0.25);

}

.dark {
  /* CUSTOM VARIABLES */
  /* Text */
  --ff: "Poppins", sans-serif;

  --text-primary: var(--color-neutral-900);
  --text-secondary: var(--color-neutral-300);
  --text-accent: var(--color-neutral-300);
  --text-muted: var(--color-neutral-400);
  --text-success: var(--color-green-500);
  --text-danger: var(--color-red-500);
  --text-muted: var(--color-blue-500);

  /* Surface */
  --surface-primary: var(--color-neutral-200);
  --surface-outline: color-mix(in oklab, var(--color-white) 10%, transparent);
  --surface-secondary: var(--color-neutral-900);
  --surface-accent: var(--color-neutral-900);
  --surface-background: var(--color-neutral-950);
  --surface-muted: var(--color-neutral-600);
  --surface-l: var(--color-neutral-900);
  --surface-h: var(--color-neutral-800);

  --surface-success: var(--color-green-400);
  --surface-danger: var(--color-red-400);
  --surface-warning: var(--color-yellow-300);
  --surface-info: var(--color-blue-400);

  --surface-success-outline: color-mix(in oklab, #166534 10%, transparent);
  --surface-danger-outline: color-mix(in oklab, #991b1b 10%, transparent);
  --surface-warning-outline: color-mix(in oklab, #854d0e 10%, transparent);
  --surface-info-outline: color-mix(in oklab, #1e40af 10%, transparent);

  /* Border */

  --border-h: var(--color-neutral-300);
  --border-m: var(--color-neutral-400);
  --border-l: var(--color-neutral-500);
  --border-muted: var(--color-neutral-700);

  --border-success: var(--color-green-900);
  --border-warning: var(--color-yellow-600);
  --border-danger: var(--color-red-900);
  --border-info: var(--color-blue-600);

  /* Icon */
  --icon-primary: var(--color-neutral-300);
  --icon-muted: var(--color-neutral-500);

  --icon-green: var(--color-green-600);
  --icon-danger: var(--color-red-600);
  --icon-warning: var(--color-yellow-600);
  --icon-info: var(--color-blue-600);
}

@theme inline {
  /* Custom */
  --shadow-sm: var(--shadow-d-sm);
  --shadow-md: var(--shadow-d-md);

  /* Shadcn */
  --font-poppins: var(--ff);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--surface-background);
  --color-foreground: var(--text-primary);
  --color-card: var(--surface-l);
  --color-card-foreground: var(--text-secondary);
  --color-popover: var(--surface-h);
  --color-popover-foreground: var(--text-secondary);
  --color-primary: var(--surface-primary);
  --color-primary-foreground: var(--text-primary);
  --color-secondary: var(--surface-secondary);
  --color-secondary-foreground: var(--text-secondary);
  --color-muted: var(--surface-muted);
  --color-muted-foreground: var(--text-muted);
  --color-accent: var(--surface-accent);
  --color-accent-foreground: var(--text-accent);
  --color-destructive: red;
  --color-border: var(--border-l);
  --color-input: var(--surface-l);
  --color-ring: red;
  --color-chart-1: red;
  --color-chart-2: yellow;
  --color-chart-3: red;
  --color-chart-4: yellow;
  --color-chart-5: red;
  --color-sidebar: var(--surface-h);
  --color-sidebar-foreground: var(--text-secondary);
  --color-sidebar-primary: var(--surface-primary);
  --color-sidebar-primary-foreground: var(--text-primary);
  --color-sidebar-accent: var(--surface-accent);
  --color-sidebar-accent-foreground: var(--text-accent);
  --color-sidebar-border: var(--border-m);
  --color-sidebar-ring: red;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-poppins;
  }
}

/* Typo Styles */
.heading {
  @apply font-semibold text-2xl;
}
.heading-muted {
  @apply font-semibold text-2xl text-muted-foreground;
}
.subheading {
  @apply font-semibold text-xl;
}
.subheading-muted {
  @apply font-semibold text-xl text-muted-foreground;
}
.base {
  @apply font-normal text-base;
}
.base-muted {
  @apply font-normal text-base text-muted-foreground;
}
.base-important {
  @apply font-bold text-base;
}
.small {
  @apply font-normal text-sm text-muted-foreground;
}
